<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>闫姿仪-期末作业</title>

    <!-- google-fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700;900&display=swap"
        rel="stylesheet">
    <!-- //google-fonts -->

    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="static/css/style-liberty.css">

</head>

<body>


<!--header-->
<header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg stroke">
            <h1>
                <a class="navbar-brand" href="index.html">
                    <span class="fa fa-lightbulb"></span> 裕固族
                </a>
            </h1>
            <!-- if logo is image enable this   
            <a class="navbar-brand" href="#index.html">
                <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
            </a> -->
            <button class="navbar-toggler  collapsed bg-gradient" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav ms-lg-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">基本介绍 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">热门词云</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="services.html">情感分析</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            指数趋势 <span class="fas fa-angle-down"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="blog.html">资讯指数</a>
                        </div>
                    </li>


                    <!--/search-right-->
                    <ul class="header-search">
                        <li class="nav-item search-right">
                            <a href="#search" class="btn search-btn btn-light" title="search"><span class="fas fa-search" aria-hidden="true"></span></a>
                            <!-- search popup -->
                            <div id="search" class="pop-overlay">
                                <div class="popup">
                                    <h3 class="title-w3l two mb-4 text-left">Search Here</h3>
                                    <form action="#" method="GET" class="search-box d-sm-flex position-relative">
                                        <input type="search" placeholder="Enter Keyword here" name="search" required="required" autofocus="">
                                        <button type="submit" class="btn btn-style btn-primary"> Search</button>
                                    </form>
                                </div>
                                <a class="close" href="#close">×</a>
                            </div>
                            <!-- /search popup -->
                        </li>
                    </ul>
                    <!--//search-right-->
                </ul>
            </div>
            <!-- search button -->

            <!-- //search button -->

            <!-- toggle switch for light and dark theme -->
            <div class="cont-ser-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
        </nav>
    </div>
</header>
<!--//header-->




<!-- Why Choose Us Section-->
<section class="w3l-whychooseus py-5" id="about1">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="row align-items-center">
            <div class="col-lg-7 pe-lg-5 align-center">
                <h6 class="w3l-title-small mb-2">民族介绍</h6>
                <h3 class="w3l-title-main mb-2">祁连山脚下的古老民族——裕固族</h3>
                <p class="mt-3">裕固族源出唐代游牧在鄂尔浑河流域的回鹘，使用三种语言，分别为：属阿尔泰语系突厥语族的裕固语（尧乎尔语），属阿尔泰语系蒙古语族的裕固语（恩格尔语）以及汉语。 <br>裕固族自称“尧乎尔”、“西喇玉固尔”，1953年，取与“尧乎尔”音相近的“裕固”（兼取汉语富裕巩固之意）作为族称。 <br>裕固族是以畜牧业为主的民族，主要聚居在甘肃省肃南裕固族自治县和酒泉黄泥堡地区，根据《中国统计年鉴-2021》，中国境内裕固族的人口数为14706人。</p>
                <div class="row two-grids mt-5">
                    <div class="col-sm-6 grids_info d-flex">
                        <i class="fas fa-chalkboard-teacher"></i>
                        <div class="detail ms-3">
                            <h4 class="w3l-subtitle"> 民族服饰</h4>
                            <p>“衣领高、帽有缨”，是裕固族服饰的一大特点。裕固族的传统装束源自甘州回鹘，无论男女，多穿高领的宽松长袍，束以腰带。裕固族传统女性头饰具有民族特色，其妇女有戴用白色羊毛压制的毡子制成的毡帽的习惯，未婚少女和已婚妇女的帽子略有不同。15岁时女孩要戴“萨达尔格”，即用红布做成的、缀以贝壳和各色珊瑚的一块方形布牌，意味着姑娘长大成人。
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 grids_info d-flex mt-sm-0 mt-4">
                        <i class="fas fa-lightbulb"></i>
                        <div class="detail ms-3">
                            <h4 class="w3l-subtitle"> 饮食习惯</h4>
                            <p>裕固族传统的饮食习惯以肉奶制品为主，面食次之，而蔬菜很少。较具民族特色的食品种类主要有手抓肉、酥油奶茶、羊下水加工品、烧壳子（烤制的面食）、酥油面饼等。在日常饮食中，裕固族禁食“尖嘴圆蹄”动物的肉。“尖嘴”指飞禽和鱼类， “圆蹄” 则指驴、骡、马等动物，另外，狗肉也严格禁食。裕固族人喜欢饮茶，主要喝茯苓茶，尤其爱喝炒面奶茶。
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 grids_info d-flex mt-md-5 mt-4">
                        <i class="fas fa-headset"></i>
                        <div class="detail ms-3">
                            <h4 class="w3l-subtitle"> 宗教信仰与节日</h4>
                            <p>历史上裕固族的祖先曾信仰萨满教、摩尼教和佛教。明末清初，喇嘛教中的黄教势力逐渐传入，喇嘛教逐渐成为裕固人的主要信仰，因此形成了定期聚会的宗教和民俗活动，主要有九月大会、六月大会、正月大会等。此外，裕固族还有进行传统农祀活动的 “剪鬃毛”、祭鄂博、春节除夕前举行的“火驱凶神”等传统节日。
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 grids_info d-flex mt-md-5 mt-4">
                        <i class="fab fa-servicestack"></i>
                        <div class="detail ms-3">
                            <h4 class="w3l-subtitle"> 文学艺术</h4>
                            <p>裕固族的文学艺术中，口头文学最具代表性，多以民歌形式流传，其中《黄黛琛》和《萨娜玛》是西部裕固族家喻户晓的叙事作品，采用散韵结合，边说边唱的方法，流传至今。裕固族民歌在曲调和行式上，继承了古匈奴一些特色，同时将藏族“拉伊“、蒙古族“酒曲”、回族“花儿”和土族“宴席曲”的一些特点巧妙地融为一体。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 mt-lg-0 mt-5 position-relative">
                <img src="static/images/image2.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<!-- //Why Choose Us Section-->



<!-- Stats Section-->
<section class="w3l-stats-section py-5" id="stats">
    <div class="container py-lg-5 py-md-4 py-3">
        <div class="w3l-stats-inner-inf py-lg-4">
            <div class="row stats-con">
                <div class="col-lg-3 col-6 stats_info counter_grid">
                    <div class="d-flex">
                        <i class="fas fa-chalkboard-teacher"></i>
                        <p class="counter"> 1023 </p>
                    </div>
                    <h3>相关微博采集数量</h3>
                </div>
                <div class="col-lg-3 col-6 stats_info counter_grid">
                    <div class="d-flex">
                        <i class="fas fa-users"></i>
                        <p class="counter"> 14378 </p>
                    </div>
                    <h3>当前裕固族总人口</h3>
                </div>
                <div class="col-lg-3 col-6 stats_info counter_grid mt-lg-0 mt-sm-5 mt-5">
                    <div class="d-flex">
                        <i class="fas fa-headset"></i>
                        <p class="counter"> 1280 </p>
                    </div>
                    <h3>关键词采集</h3>
                </div>
                <div class="col-lg-3 col-6 stats_info counter_grid mt-lg-0 mt-sm-5 mt-5">
                    <div class="d-flex">
                        <i class="fas fa-project-diagram"></i>
                        <p class="counter"> 3578 </p>
                    </div>
                    <h3>社会网络关系图线数</h3>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- //Stats Section-->

<!-- footer block -->
<footer class="w3l-footer-29-main">

            <!-- copyright -->
            <p class="copy-footer-29 text-center mt-5 pb-2">© 中央民族大学 新闻与传播 22级非全日制 闫姿仪 22301276 </p>
            <!-- //copyright -->




<!-- Js scripts -->
<!-- move top -->
<button onclick="topFunction()" id="movetop" title="Go to top">
    <span class="fas fa-level-up-alt" aria-hidden="true"></span>
</button>
<script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
        } else {
            document.getElementById("movetop").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
<!-- //move top -->

<!-- common jquery plugin -->
<script src="static/js/jquery-3.3.1.min.js"></script>
<!-- //common jquery plugin -->

<!-- theme switch js (light and dark)-->
<script src="static/js/theme-change.js"></script>
<!-- //theme switch js (light and dark)-->

<!--/stats-number-counter-->
<script src="static/js/jquery.waypoints.min.js"></script>
<script src="static/js/jquery.countup.js"></script>
<script>
    $('.counter').countUp();

</script>
<!--//stats-number-counter-->

<!--/owlcarousel-->
<script src="static/js/owl.carousel.js"></script>
<!-- //tesimonials-->
<script>
    $(document).ready(function() {
        $("#owl-demo1").owlCarousel({
            loop: true,
            nav: false,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: false
                },
                736: {
                    items: 1,
                    nav: false
                }
            }
        })
    })

</script>
<!-- //tesimonials-->

<!-- MENU-JS -->
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>
<!-- //MENU-JS -->

<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- //disable body scroll which navbar is in active -->

<!--bootstrap-->
<script src="static/js/bootstrap.min.js"></script>
<!-- //bootstrap-->
<!-- //Js scripts -->

</body>

</html>